/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Raleway:ital,wght@1,200&display=swap');

/* VARIABLE */
:root{
    --primary-color: #fb6a27;
    --dark-color: #0f0f0f;
    --gray-color: gray;
    --shadow-1: 5px 15px 29px hsla(0,0%,0%,0.25);
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h4-font-size: 18px;
    --small-font-size: 14px;
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

/* GLOBAL CSS */
section {
    padding: 70px 0;
}
section .section-title {
    font-size: var(--h2-font-size);
    font-weight: bold;
    text-transform: uppercase;
}
.btn-orange {
    background-color: var(--primary-color);
    color: white;
}
.text-orange-link {
    color: var(--primary-color);
}
.text-orange-link:hover {
    color: white;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.text-orange-contact {
    color: var(--primary-color);
} 
.text-orange-skills{
    color: var(--primary-color);
}
.text-orange-port {
    color: var(--primary-color);
}
.text-orange-about {
    color: var(--primary-color);
}
.text-orange-name{
    color: var(--primary-color);
}
.text-orange {
    color: var(--primary-color);
    text-decoration: none;
}
.text-orange:hover,
.text-orange:active{
    color: var(--dark-color);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
} 
.text-dark {
    color: var(--dark-color);
}
.fs-7 {
    font-size: var(--small-font-size);
}
.form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

/* CSS PER SECTION */

/* NAVBAR */
#icon {
    width: 19px;
    cursor: pointer;
}
.span-r {
    color: var(--primary-color);
}

.navbar .nav-item .nav-link{
    margin-right: 20px;
}
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:active {
    color: var(--primary-color);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: rotate3d();
}
/* HEADER */
.header-section .header-title {
    font-size: var(--h1-font-size);
}
.header-section .header-skill {
    color: var(--dark-color);
}
.header-section .header-skill i {
    position: .3s;
}
.header-section .header-img {
    width: 80%;
    border-radius: 25px;
    box-shadow: var(--shadow-1);
}
.skills-section .skills-img {
    width: 70%;
    border-radius: 20px;
    margin-left: 50px;

}
/* PORTFOLIO */
@media screen and (max-width: 768px) {
    .portfolio-section .card .card-img-top {
        height: 100px;
    }
}
/* SKILLS */
.skills-section .progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--gray-color);
}
.skills-section .progress-bar .progress {
    background-color: var(--primary-color);
}
.mb-0{
    color: var(--dark-color);
}
.btn-orange{
    background-color: var(--dark-color);
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin-top: auto;
}
ul{
    list-style: none;
}
.footer{
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: var(--h4-font-size);
}
.footer-h4{
    color: var(--primary-color);
}
.footer-a{
    color: white;
    text-decoration: none;
}
.footer-a:hover{
    color: var(--primary-color);
}
.text-uppercase-2{
    color: var(--primary-color);
}